<!-- BEGIN FOOTER -->
<p class="copyright">
    2021 &copy; WebAppManager
    <a target="_blank" href="">Sistema Iris</a> &nbsp;|&nbsp;
    <a target="_blank" href="">Alex Silva</a>
</p>
<a href="#index" class="go2top">
    <i class="icon-arrow-up"></i>
</a>
<!-- END FOOTER -->